body {
    background-attachment: fixed;
    background-image: linear-gradient(180deg, #1D0E49, #9E6D39);
    z-index:0;
    zoom: 90%;
}

/* Uses an edited version of "Interference" by Chris Rickels: 
    https://codepen.io/cRckls/pen/DJvZXo
*/
.buzz_wrapper span{
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
.buzz_wrapper span:nth-child(1){
  color:red;
  margin-left:-2px;
  -webkit-filter: blur(2px);
    filter: blur(2px);
}
.buzz_wrapper span:nth-child(2){
  color:green;
  margin-left:2px;
  -webkit-filter: blur(2px);
  filter:blur(2px);
}
.buzz_wrapper span:nth-child(3){
  color:blue;
  position:20px 0;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
.buzz_wrapper span:nth-child(4){
  color:#fff;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  text-shadow:0 0 50px rgba(255,255,255,0.4);
}
.buzz_wrapper span:nth-child(5){
  color:rgba(255,255,255,0.4);
  -webkit-filter: blur(15px);
  filter: blur(15px);
}

.buzz_wrapper span{
  -webkit-animation: blur 30ms infinite, jerk 20ms infinite;
  animation: blur 30ms infinite, jerk 20ms infinite;
}

@keyframes blur {
  0%   { -webkit-filter: blur(1px); opacity:0.8;}
  50% { -webkit-filter: blur(1px); opacity:1; }
  100%{ -webkit-filter: blur(1px); opacity:0.8; }
}
@keyframes jerk {
  50% { left:5px; }
  51% { left:0; }
}
@keyframes jerkup {
  50% { top:1px; }
  51% { top:0; }
}

.buzz_wrapper span:nth-child(3){
  -webkit-animation: jerkblue 1s infinite;
  animation: jerkblue 1s infinite;
}
@keyframes jerkblue {
  0% { left:0; }
  30% { left:0; }
  31% { left:10px; }
  32% { left:0; }
  98% { left:0; }
  100% { left:10px; }
}
.buzz_wrapper span:nth-child(2){
  -webkit-animation: jerkgreen 1s infinite;
  animation:jerkgreen 1s infinite;
}

@keyframes jerkgreen {
  0% { left:0; }
  30% { left:0; }
  31% { left:-40px; }
  32% { left:0; }
  98% { left:0; }
  100% { left:-10px; }
}

.buzz_wrapper .whole{
  -webkit-animation: jerkwhole 7s infinite;
  animation: jerkwhole 7s infinite;
}
@keyframes jerkwhole {
  30% {  }
  40% { 
    opacity:1; 
    top:0; 
    left:0;  
    -webkit-transform:scale(1,1);  
    -webkit-transform:skew(0,0);
}
  41% { 
    opacity:0.7; 
    top:0px; 
    left:-100px; 
    -webkit-transform:scale(1,1.2); 
    -webkit-transform:skew(20deg,0);
}
  42% { 
    opacity:0.7; 
    top:0px; 
    left:100px; 
    -webkit-transform:scale(1,1.2);  
    -webkit-transform:skew(-80deg,0);
}
  43% { 
    opacity:1; 
    top:0; 
    left:0;
     -webkit-transform:scale(1,1);  
     -webkit-transform:skew(0,0);
    }
}

#footer {
    bottom: 0;
    left: 0;
    right: 0;
    position:fixed;
    z-index:-1;
    height:10px;
    border-color: beige;
    border-width: 40px;
    background-color: #2D3868;
    padding: 12px;
    text-align: center;
}

#header {
    width:100%;
    color:#c9c9f8;
    font-family: Georia, sans-serif;
    letter-spacing: 5px;
    font-size:40px;
    font-kerning: 5px;
    margin-top:-1rem;
    margin-right:2rem;
    margin-bottom:2rem;
}

#clock {
    color:#c9c9f8;
    text-align: right;
    font-family: Georia, sans-serif;
    letter-spacing: 5px;
    font-size:40px;
    font-kerning: 5px;
}

#date {
    text-align: right;
    letter-spacing: 7px;
}

#weather {
    margin-top: 2.7rem;
    margin-left: 3rem;
}

weather-card {
    width: 310px;
    height: 700px;
    float: left;
    margin-top:2rem;
    margin-right:3rem;
    z-index:3;
    background-attachment: fixed;
    background-image: linear-gradient(180deg, #877EFA,  #0A0187);
    border-radius: 10px;
    border-style:ridge;
    border-color: #cdc5f1;
    border-width: 7px;
}

weather-card h1 {
    font-size: 80px;
    padding-left: 4.5rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d1dc91;
    text-shadow: 3px 3px 0px #060303;
}

weather-card h2 {
    font-size:57px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #E1E2FF;
    margin-top:0;
    margin-bottom:20px;
    text-align: center;
    transform: scaleY(1.2);
    text-shadow: 3px 3px 5px #060303;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #2A2A6E;
}

img {
    width: 80%;
    margin-bottom:1rem;
    padding-left:2rem;
}

.banner {
    position: absolute;
    z-index:-1;
    height: 150px;
    margin-left: -3rem;
    width: 1250px;
}

.specs {
    margin-right: 2rem;
}

.header-img {
    position: absolute;
    z-index:2;
    width: 20%;
    margin-left: 10rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.temp {
    float:left;
    text-align: center;
    padding-left:7px;
}

.temp h2 {
    font-size:60px;
    margin:0;
    text-shadow: 2px 2px 5px #060303;
}

.temp h1 {
    color:#c9c9f8;
    font-weight: lighter;
    font-size:95px;
    margin:0;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    text-shadow: 1px 1px 15px #060303;
}

#current .temp {
    width: 100%;
}

#current .hum h1 {
    font-size:35px;
    opacity: 90%;
    margin:0;
    margin-top: 7rem;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: left;
    text-shadow: 1px 1px 0px #060303;
}

#current .wind h1 {
    font-size:35px;
    color:#bee5f6e1;
    margin:0;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: left;
    text-shadow: 1px 1px 0px #060303;
}

.info {
    margin-left: 0.5rem;
}


.low {
    color:#847FFF;
}

.high {
    color:#AAAE90;
}